<p id="notice"><%= notice %></p>

<h1>Products</h1>
  <div class="container">
    <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag(product.image_url, class: "img-responsive") %>
          </div>
          <div class="panel-footer">
            <h3><%= link_to product.name, product %></h3>
            <p><%= product.description %></p>
          </div>


          <strong><%#= product.price %></strong>

        </div>

      </div>
    </div>
  </div>

<% end %>

<br>

<%= link_to 'New Product', new_product_path %>
