<p id="notice"><%= notice %></p>

<h1>Photos</h1>
  <section class="container">
    <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag(product.image_url, class: "img-responsive") %>
          </div>
          <div class="panel-footer">
            <p><strong>$ <%= product.price %></strong></p>
            <h3><%= link_to product.name, product %></h3>
            <p><%= product.description %></p>


          </div>
        </div>
      </div>
    <% end %>
    </div>
  </section> <!-- /.container -->

<br>

<%= link_to 'New Product', new_product_path %>
